@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none !important;
}

@media print {

    .no-print,
    .no-print * {
        display: none !important;
    }
}

.hidden-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hidden-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.table-cell {
    border: 1px solid #6b7280;
    display: flex;
    align-items: center;
    @apply text-xs px-6 py-1;
}

.divider-row {
    @apply bg-gray-100;
}

.header-row, .footer-row {
    @apply bg-gray-200 font-semibold;
}